 #message-form{
        /* width: 100vw; */
        background-color: rgb(3, 88, 109);
    }
    /* input,button{
        width: 25vw !important;
    } */
    .chat{
        width:50vw !important;
    }
    .chat input{
        width: 30vw !important;
    }
    .chat button{
        width: 70px !important;
    }

    #left,#right{
        width: 50vw;
    }
    #groupList{
         max-height: 59vh; 
         overflow-y: auto;
    }
    /* id="select-users" */
    #select-users{
 max-height: 41vh; 
         overflow-y: auto;
    }

    .file-upload-icon {
  cursor: pointer;
  /* margin-right: 8px; */
  font-size: 25px;
  
}
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;   /* Prevent Bootstrap's blue border */
}

/* Also reset focus-visible ring if browser applies it */
.form-control:focus-visible {
  outline: none !important;
}

/* Optional: remove border entirely if needed */
.form-control {
  border: none; /* only if you want no border at all */
}

#messages{
  max-height:77vh; 
         overflow-y: auto;
}